name: Daily Upstream Sync

on:
  schedule:
    - cron: '0 0 * * *' # Runs at midnight UTC
  workflow_dispatch:      # Allows you to click "Run workflow" manually

jobs:
  sync_latest_from_upstream:
    runs-on: ubuntu-latest
    if: github.repository == 'rohanvh7/fmhy-self-hosting'

    steps:
      - name: Checkout target repo
        uses: actions/checkout@v4

      - name: Pull Upstream Changes
        # Note: 'master' is the most reliable tag for this action
        uses: wei/pull@master
        with:
          upstream_package_repository: fmhy/edit
          upstream_package_branch: main
          branch: main
          token: ${{ secrets.GITHUB_TOKEN }}
